@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6em;
}

header {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

#header {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  padding: 0 50px;
  width: 70rem;
  padding-left: 0;
  padding-right: 20px;
}

.title {
  text-align: left;
  padding-left: 11px;
}

.nav-link {
}

p {
  margin: 0px 0px 10px 0px;
  color: rgb(82, 80, 80);
}

nav ul {
  list-style: none;
}

nav li {
  border: 1px solid #777;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

.client {
  margin-left: 3rem;
}

.client li {
  margin: 15px 0;
  color: rgb(82, 80, 80);
}

a {
  color: #777;
  cursor: pointer;
  text-decoration: none;
}

.code {
  background-color: rgb(241, 237, 237);
  border-radius: 3px;
  font-family: "Monaco", monospace;
  font-size: 1em;
  color: rgb(134, 134, 134);
  font-weight: lighter;
  padding: 3px 3px;
  margin-left: 1rem;
}

.scrollmenu {
  width: 255px;
  height: 650px;
  overflow-y: auto;
}

/* main section */

.main-section {
  padding-left: 30px;
}

#main-doc {
  border-radius: 5px;
  margin: 10px 20px 20px 300px;
  padding: 20px 20px 10px 20px;
}

@media only screen and (max-width: 768px) {
  nav ul {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: none;
  }

  nav li {
    border: 1px solid #777;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    margin-left: 0;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  p {
    margin: 0 5px;
  }

  .main-section {
    padding-left: 0;
  }

  #main-doc {
    margin: 20px 0px 0px 0px;
    position: relative;
  }

  #header {
    height: auto;
    position: relative;
    width: 100%;
    padding-top: 2px 5rem;
  }

  .scrollmenu {
    overflow-y: auto;
    height: 350px;
    width: 100%;
    overflow-x: hidden;
  }

  .scrollmenu ul {
    margin-left: 0;
    margin-right: 0;
  }

  .code {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
  }

  .title {
    text-align: center;
    font-size: 2rem;
  }
}
